.sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
  background: $cyan;
  color: $white;
  transition: all 0.3s;
  
  @include media-breakpoint-between(xs, sm) {
    margin-left: -250px;
  }
  
  &__header {
    padding: 20px;
  }
  
  &__nav {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
    
    &__flyout {
      background: #24829a;
    }
    
    &__link {
      padding: 10px;
      font-size: 1.1em;
      display: block;
      color: inherit;
      text-decoration: none;
      transition: all 0.3s;
      
      &:hover, &:focus, &:active {
        color: #7386D5;
        background: $white;
      }
      
    }
  }
  
  &--active {
    margin-left: -250px;
    
    @include media-breakpoint-between(xs, sm) {
      margin-left: 0;
    }
  }
}