---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}">
  <head>
    {% include head.html %}
  </head>

  <body>
    <div class="default-wrapper">
      <!-- Sidebar -->
      {% include sidebar.html%}

      <!-- Page Content -->
      <div class="default-wrapper__content">
        <!-- header --> 
        <div class="default-wrapper__header">
          {% include header.html %}
        </div>
        {{ content }}  
      </div>

      <!-- footer -->
      <div class="footer">
        <footer>
          {% include footer.html %}
        </footer>
      </div>
    </div>     
    <!-- inlcude all the scripts related to the application -->
    {% include scripts.html %}

  </body>
</html>