---
layout: compress
---

{% include base_path %}

<!doctype html>
<html lang="{{ site.locale | slice: 0,2 | default: "en" }}">
  <head>
    {% include head.html %}
  </head>

  <body data-spy="scroll" data-target="#toc">
    <div>
      <!-- header -->
      {% include header.html %}
      <!-- Page Content -->
      <div class="py-5 bg-light">
        {{ content }}  
      </div>
    </div>
    <!-- footer -->
    <div class="bg-dark text-light py-3 text-center">
      <footer>
        {% include footer.html %}
      </footer>
    </div>
    <!-- inlcude all the scripts related to the application -->
    {% include scripts.html %}

  </body>
</html>